* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: silver;
}

.container {
  width: 40%;
  margin: 2rem auto;
  background-color: white;
  border-radius: 25px;
  padding: 2rem;
} 

#title {
  color: blue;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

#description{
  text-align: center;
  margin-bottom: 2rem;
}

#survey-form {
  display: flex;
  flex-direction: column;
}

textarea {
  margin-bottom: 20px;
  height: 150px;
}

#btn {
  color: red;
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  align-self: center;
}
