* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.page-top {
  max-width: 800px;
}

.navigation {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-media {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.size-icon {
  width: -25%;
  height: -25%;
}

.figure-cap {
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}


.credit {
  color: #888;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.article-title {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-style: italic;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 100%;
}

.main-article {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: #333;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  max-width: 600px;
}

#wide-button {
  align-self: flex-start;
}

.button {
  background-color: #567B95;
  border: 1px solid #326891;
  border-radius: 3px;
  color: white;
}

.footnotes {
  color: #888;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
}
