* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.whole-page{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-navigation {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px ridge #CCC;
  max-height: 45px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border: 5px solid #000;
  align-self: center;
}

#author {
  align-self: flex-start;
}

.article-title {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-size: 40px;
  line-height: 48px;
  font-style: italic;
}

.main-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 30px;
  color: #333;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  max-width: 600px;
  border: 5px solid #000;
}

.footnotes {
  color: #888;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.social-media {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 5px solid #000;
}

.social-media :nth-child(2) {
  margin-left: auto;
}

#video-01 {
  margin-left: 55px;
  align-self: center;
}

#image-03 {
  align-self: center;
}

.image {
  width: 1000px;
}

.size-icon {
  width: -25%;
  height: -25%;
}

.figure-cap {
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 14px;
  line-height: 20px;
}

.credit {
  color: #888;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 13px;
  line-height: 18px;
}

.button {
  background-color: #567B95;
  border: 1px solid #326891;
  border-radius: 3px;
  color: #FFF;
}
